.hero-section {
    background: url('../assets/doctorhero.jpg') center center/cover no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .hero{
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
  }
  